/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
/* ==========================================================================
 Author's custom styles
========================================================================== */
/* ---------- Base Styles ---------- */
*, *::before, *::after {
  box-sizing: border-box;
}
header {
    height: 100vh;
}
body {
    margin: 0;
    padding: 0;
   
    /* Dark to light gradient */
    background: linear-gradient(#f25934 0%,  #f27d52 35%, #f2a488 65%, #f9f2ed 100%),
    url(../img/beige-paper.png);
  
    
    /* background: linear-gradient(#f9f2ed 0%,  #f2a488 35%, #f27d52 90%, #f25934 100%);*/
    background-blend-mode: overlay;
}
img {
  max-width: 90%;
}
.mission, .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
h2,
h3,
h4 {
  font-family: "Bree", sans-serif;
  font-weight: 700;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-transform: uppercase;
  margin: 0;
  color: #433f3d;
}
h2 {
  font-size: 1.75em;
  text-align: center;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}

p {
  font-family: "omnes-pro", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  color: #433f3d;
}

/* Navigation */  



@media (max-width: 1199px){
.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  position: fixed;
}
.mobile-nav-wrapper {
  width: 95%;
  margin: 0 auto;
}
.nav {
  position: fixed;
  text-align: center;
  z-index: 1000;
  top: 5%;
  right: 5%;
  /*Navigation hidden on mobile*/
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 600ms;
}
    
/*Navigation open on click*/
.nav-open {
  clip-path: circle(250% at top right);
} 
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 450px;
  border-radius: 50%;
  background: #f2e9e3;
  filter: drop-shadow(0 0 30px #fff);
  list-style: none;
}    
li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 1em;
  font-weight: 900;
}
    
/**** Hamburger Menu ****/
.menu-toggle {
  padding: 1em 0;
  top: 1.5em;
  right: 1.5em;
  cursor: pointer;
  position: absolute;
}   
/* Three horizontal lines for hamburger*/
.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  background: white;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  transition: all ease-in-out 600ms;
  display: block;
}   
/* Top Line */
.hamburger::before {
  transform: translateY(-6px);
}
/* Bottom Line */
.hamburger::after {
  transform: translateY(3px);
}   
/* Middle Line rotates */
.open .hamburger {
  transform: rotate(45deg);
}  
/* Top line gone */
.open .hamburger::before {
  transform: rotate(-90deg);
  opacity: 0;
} 
/* Bottom line rotates */
.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}  
.home {
  /* This places HOME button in the top left
  padding-left: 2em;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  text-shadow: 0 3px 6px #000000;
  */

  /* This places HOME button in the bottom right */
  position: fixed;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  text-shadow: 0 3px 6px #000000;
  bottom: 1.75em;
  right: 1em;
        
}
}
/******** HEADER ********/
.header-logo {
  padding-top: 13.5em;
  display: flex;
  justify-content: center;
}
.header-logo-img {
  width: 95%;
  position: fixed; 
  z-index: -1;
	opacity: 1
}
.header-logo-img-2 {
  width: 95%;
  position: fixed; 
  z-index: -2;
	opacity: .33;
}

/******** FOOTER ********/
footer {
  width: 100%;
  position: fixed;
  padding-left: 2em;
  /* padding-bottom: 2em; */
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  text-shadow: 0 3px 6px #000000;
  bottom: 2em;
}
.footer {
  text-align: right;
  padding-right: 2em;
}
.footer-email {
  color: white;
  text-decoration: none;
}
.show {
  display: block;
}
.show {
  display: block;
}
/******** MISSION ********/
.container {
  width: 65%;
  margin: 0 auto;
	padding-bottom: 5em;
}
.mission-heading-first {
  padding-top: 13em;
}
    
/******** PROJECT ********/
#work h2 {
  padding-bottom: 1.875rem;
}
.project {
  width: 100%;
  display: flex;
  justify-content: justify;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 2em;
}
.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35%;
  padding-bottom: 1em;
}
.project a {
  text-align: center;
  color: #433f3d;
  text-decoration: none;
}
.project-image img {
  height: 200px;
  width: 100%;
	/*border-radius: 190px / 200px; Makes image rounded*/
  object-fit: cover;
  /* HJR: Added the border to be able to see the box-shadow clearly JEC: f27d52 changed color to make it more subtle */
  border: #bbb1ac solid 1px;
  box-shadow: 0px 0px 20px 10px #ffffff;
}
.project-body {
  width: 100%;
}
.project-text {
  width: 100%;
}
.project-team{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}
.project-team-members {
  width: 100%;
  text-align: center;
}
.project-team-members-link {
  margin: auto 1em;
  line-height: 1.875rem;
  font-family: 'Bree', sans-serif;
  font-weight: 700;
}

/******* SOCIAL JUSTICE *******/
.pro-bono {
  text-align: center;
  text-transform: none;
}
.sj-link {
  line-height: 1.875rem;
	justify-content: flex-start;
  font-family: 'Bree', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #433f3d;
}
.pro-bono-support {
  text-align: center;
  font-family: 'Bree', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #433f3d;
}
.sj-resource-title {
  font-size: 1.5em;
}
    
/******** TEAM ********/
.team-member-name {
  padding-top: 18px;
  padding-bottom: 8px;
}
.team-member-description {
  padding-top: 8px;
  padding-bottom: 8px;
}
.bio-social {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fab {
  height: 30px;
  color: #433f3d;
}
.bio-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35%;
  padding-bottom: 1em;
  margin-top: 10px;
}
.bio-img img {
  height: 200px;
  width: 100%;
	/*border-radius: 190px / 200px; Makes image rounded*/
  object-fit: cover;
  /* HJR: Added the border to be able to see the box-shadow clearly JEC: f27d52 changed color to make it more subtle */
  /*border: #bbb1ac solid 1px;*/
  box-shadow: 0px 0px 20px 10px #1a1a1a;
}

/******** CONTACT ********/
#contact h2 {
  width: 100%;
  padding-bottom: 30px;
}
form {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
}
input, textarea {
	font-family: p22-underground, sans-serif;
	font-size: 1em;
	margin-bottom: 3em;
	margin-top: 1.5em;
	width: 100%;
}
label {
  font-family: 'Bree', sans-serif;
  font-size: 1.25em;
	font-weight: 700;
	text-transform: uppercase;
}
label span {
  font-size: 1em;
  font-weight: 400;
  text-transform: none;
}
.btn-div {
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn {
  width: 60%;
	border-radius: 1em;
	font-family: Bree, sans-serif;
  font-size: 1.375em;
  font-weight: bold;
  color: #f25934;
  height: 3em;
	text-align: center;
	vertical-align: center;
}

/*********************************************************
 Tablet Styles
*********************************************************/
@media only screen and (min-width: 768px) {
  /***** MISSION *****/
  #mission .container {
    width: 88%;
  }
  .mission-heading-first {
    width: 100%;
  }
  .mission-text {
    width: 65%;
  }

  /***** ABOUT *****/
  .about h2 {
    width: 100%;
  }

  /***** PROJECT *****/
  .project-team {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row;
  }
  .project-team-members {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  .project-image img {
    width: 65%;
  }
  .project-text p {
    width: 65%;
    margin: 2.5em 17% auto 17%;
  }

  /***** SOCIAL JUSTICE *****/
  #social-justice {
    width: 88%;
    margin: auto 5% auto 5%;
  }
  .social-justice-body {
    width: 65%;
    margin: 2.5em 17% auto 17%;
  }
  .sj-resource-title {
    text-align: center;
  }
  .sj-link {
    margin: 2.5em 17% auto 17%;
  }

  /***** TEAM *****/
  #team {
    width: 88%;
    margin: auto 5% auto 5%;
  }
  .bio-info {
    padding-left: 0;
  }
  .bio-info p {
    width: 65%;
    margin: auto 17% auto 17%;
    padding-left: 2em;
  }
  .bio-img img {
    max-width: 200px;
    /*border-radius: 50%; JEC removed rounded corners per AL*/
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f2a488;
    /*background-color: #f2a679; */
  }
  /* Making the bio images flip because I could.
  .bio-img img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-color: #f53737;
  } */
  .bio-social {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .bio-social a {
    padding-right: 8%;
  }

}

/* ==========================================================================
Desktop Styles
========================================================================== */

@media only screen and (min-width: 1200px) {
  /* General Styles */

  /* Navigation */
  .desk-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
    position: fixed;
  }
  .desk-nav-wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .nav {
    position: fixed;
    padding-top: 2em;
    padding-bottom: 2em;
    z-index: 1000;
    top: 0;
    width: 100%;
    /*  background-color: rgba(241,86,49,.1); */
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  }
  li a {
    color: #000000;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-weight: 900;
    text-shadow: 0 3px 6px #F9F2ED;
  }
  li a:hover {
    text-decoration: underline;
    color: orange;
    text-shadow: 1px 1px 3px #000; 
  }
  .home {
    display: none;
  }

  /***** PROJECT *****/
  #work {
    width: 83%;
    margin: auto 8% auto 8%;
  }
  .project {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row;
  }
  .project-image {
    width: 60%;
  }
  .project-image img {
    width: 65%;
    height: 13.75em;
  }
  .project-body {
    width: 45%;
  }
  .project-text h4 {
    text-align: center;
  }
  .project-text p {
    width: 100%;
    margin: 0;
  }

  /***** SOCIAL JUSTICE *****/
  .pro-bono {
    font-size: 1.5em;
  }
  .pro-bono-support {
    font-size: 1em;
    font-weight: 400;
  }

  /***** TEAM ******/
  #team {
    width: 66%;
    margin: auto 16% auto 16%;
  }
  .bio-img-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
  }
  .bio-img {
    width: 35%;
    display: flex;
    justify-content: center;
  }
  .bio-img {
    max-width: 400px;
  }
  .bio-info {
    width: 65%;
  }
  .bio-info p {
    width: 100%;
    margin: 0;
  }

}

/* ==========================================================================
Helper classes
========================================================================== */
  
/*
* Hide visually and from screen readers
*/
  
.hidden,
[hidden] {
    display: none !important;
}
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  
