
/***************
* Mobile Layout*
****************/

@media (max-width: 800px){

header {
    height: 50vh;
	
}
/* Navigation */

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    position: fixed;
}

.mobile-nav__wrapper {
    width: 95%;
    margin: 0 auto;
}


.nav {
    position: fixed;
    text-align: center;
    z-index: 1000;
    top: 5%;
    right: 5%;
    /*Navigation hidden on mobile*/
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 750ms;

}

/*Navigation open on click*/
.nav--open {
    clip-path: circle(250% at top right);
} 

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    border-radius: 50%;
    background: #f2e9e3;
    filter: drop-shadow(0 0 30px #fff);
}

li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1em;
    font-weight: 900;
}

/**** Hamburger Menu ****/

.menu-toggle {
    padding: 1em 0;
    top: 1.5em;
    left: 1.5em;
    cursor: pointer;
}

/* Three horizontal lines for hamburger*/
.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: black;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 300ms;

}

/* Top Line */
.hamburger::before {
    transform: translateY(-6px);
}

/* Bottom Line */
.hamburger::after {
    transform: translateY(3px);
}

/* Middle Line rotates */
.open .hamburger {
    transform: rotate(45deg);
}

/* Top line gone */
.open .hamburger::before {
    opacity: 0;
}

/* Bottom line rotates */
.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.home {

    padding-left: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    text-shadow: 0 3px 6px #000000;
}

/******** PROJECT ********/
.project {
	flex-wrap: wrap;
}
.project__team__members { 	
	display: block;

}
.project__team__title{
	text-align: left;
}

.project__body {
	width: 100%;
}

/******** TEAM ********/
.team__member {
	display: block;
	align-items: left;
	justify-content: left;
}

.bio__info {
	padding-left: 0;
}

}