*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: p22-underground, sans-serif;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
/*  Dark to light gradient */
	background: linear-gradient(#f25934 0%,  #f27d52 35%, #f2a488 65%, #f9f2ed 100%);
/*
	background: linear-gradient(#f9f2ed 0%,  #f2a488 35%, #f27d52 90%, #f25934 100%);*/
}


.container {
    width: 65%;
    margin: 0 auto;
	padding-bottom: 5em;
}


main {

}

header {
    height: 100vh;
	
}

img {
    max-width: 100%;
}



h2,
h3 {
    font-weight: 900;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-transform: uppercase;
}

.mission__heading--first {
    padding-top: 13em;
}

p {
    line-height: 1.5;

}


.header__logo {
    padding-top: 13.5em;
    display: flex;
    justify-content: center;

}

.header__logo__img {
    width: 95%;
    position: fixed; 
    z-index: -1;
	opacity: 1
}

.header__logo__img__2 {
    width: 95%;
    position: fixed; 
    z-index: -2;
	opacity: .33;
}


/******** PROJECT ********/
.project {
    display: flex;
    flex-direction: row;
	padding-bottom: 2em;

}

.project__image {
    min-width: 35%;
    align-self: center;
    padding-bottom: 1em;
}

.project__image img {
    height: 200px;
    width: 100%;
	border-radius: 190px / 200px;
    object-fit: cover;
}
.project__body {

}
.project__text {
	
	margin-left: 2em;
}

.project__team {
	
	margin-top: 1em;
	text-transform: uppercase;	
}

.project__team__title{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
}

.project__team__members { 	
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}
.project__team__members__link {
	margin: 1em;
	justify-content: space-evenly;
	width: 40%;
}


/******** TEAM ********/
.team__member {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
}
.bio__info {
	padding-left: 2em;
}
.bio__info p {
    margin-top: 1em;
	margin-bottom: 1em;
}
.bio__img img {
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #000000;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f2a488;
/*    background-color: #f2a679; */
}

/* Making the bio images flip because I could.
.bio__img img:hover {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	background-color: #f53737;
}
*/

/******** CONTACT ********/


form {

	margin-left: 5em;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 80%;
}

input, textarea {
	font-family: p22-underground, sans-serif;
	font-size: 1em;
	margin-bottom: 3em;
	margin-top: 1.5em;
	width: 100%;
}

label {
	font-weight: bold;
	text-transform: uppercase;
}
.btn-div {
	width: 50%;
	margin: auto;
	margin-top: -3em;
}

.btn {
	border-radius: 2em;
	font-family: p22-underground, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #f25934;
    height: 2em;
	text-align: center;
	veritcal-align: center;
}

/******** FOOTER ********/


footer {

    width: 100%;
    position: fixed;
    padding-left: 2em;
    padding-bottom: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    text-shadow: 0 3px 6px #000000;
	bottom: 2em;
}


.footer {
    text-align: right;
    padding-right: 2em;
}

.footer__email {
    color: white;
    text-decoration: none;
}
